<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diplomas</title>
        <link rel="stylesheet" href="static/css/style.css">
<!--    <link rel="icon" href="favicon.ico?v=2">-->
<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montez&family=Montserrat&family=Sacramento&display=swap');
</style>
</head>
<body>
         <div class="top-container" >
                     <h2>PCB DESIGN</h2>
             <a class="projects-btn" href="/projects">PROJECTS</a>
                   <a class="projects-btn" href="/altium">PCB DESIGN</a>
<!--             <a class="projects-btn" href="/arduino">ARDUINO</a>-->
<!--             <a class="projects-btn" href="/c">C</a>-->


             <a class="projects-btn" href="/mikroc">EMBEDDED C</a>
             <a class="projects-btn" href="/mikrofab">MICRO FABRICATION</a>
             <a class="projects-btn" href="/python">PYTHON</a>
             <a class="projects-btn" href="/ml">MACHINE LEARNING</a>
             <a class="projects-btn" href="/ds">DATA SCIENCE</a>
             <a class="projects-btn" href="/nanoelectronics">NANO-ELECTRONICS</a>

        </div>

           <div class="middle-container">
                                    <a class="btn" href="/">HOME</a><p></p>

                <p class="Project-Explanation">  </p>

               <div class="item">
                   <img class="projects" src="static/project_images/STM32 ALTIUM PCB.jpg" alt="stm32-png">
                   <h3 class="caption"  style="margin-left:100px">2 layer PCB DESIGN OF STM32 BOARD</h3>
               </div>
               <div class="item">
                   <img class="projects" src="static/project_images/STM32 ALTIUM PCB SCHEMATICS .jpg" alt="stm32-png">
                   <h3 class="caption"  style="margin-left:100px">Altium Designer Schematics of STM32</h3>
               </div>
               <div class="item">
                   <img class="projects" src="static/project_images/STM32 ALTIUM PCB 3D .jpg" alt="stm32png">
                   <h3 class="caption"  style="margin-left:100px">3D View of PCB</h3>
               </div><p></p>


               <div class="item">
                   <img class="projects" src="static/project_images/counter_PCB.png" alt="counter-png">
                   <h3 class="caption"  style="margin-left:100px">2 layer PCB DESIGN of Money Counter Device</h3>
               </div>
               <div class="item">
                   <img class="projects" src="static/project_images/counter_schematics.png" alt="stm32-png">
                   <h3 class="caption"  style="margin-left:100px">Schematics of Money Counter Device</h3>
               </div>
               <div class="item">
                   <img class="projects" src="static/project_images/counter_PCB_3D.png" alt="stm32png">
                   <h3 class="caption"  style="margin-left:100px">3D View of Money Counter Device</h3>
               </div><p></p>

               <div class="item">
                   <img class="projects" src="static/project_images/7segment_proteus.png" alt="7segment-png">
                   <h3 class="caption"  style="margin-left:100px">PIC18F2220 7 SEGMENT PROTEUS CIRCUIT</h3>
               </div>

               <div class="item">
                   <img class="projects" src="static/project_images/7segment_pic18f452.png" alt="7segment-png">
                   <h3 class="caption"  style="margin-left:100px">PIC18F452 7 SEGMENT PROTEUS CIRCUIT </h3>
               </div>

               <div class="item">
                   <img class="projects" src="static/project_images/dotmatrix_proteus.png" alt="Dotmatrix-png">
                   <h3 class="caption"  style="margin-left:100px">Dotmatrix PROTEUS CIRCUIT </h3>
               </div><p></p>
               <div class="item">
                   <img class="projects" src="static/project_images/matrix_uart_proteus.png" alt="Matrixuart-png">
                   <h3 class="caption"  style="margin-left:100px">Matrix Uart PROTEUS CIRCUIT </h3>
               </div>

               <div class="item">
                   <img class="projects" src="static/project_images/LCD_interface_proteus.png" alt="LCD-png">
                   <h3 class="caption"  style="margin-left:100px">PIC LCD Interface PROTEUS CIRCUIT </h3>
               </div>

               <div class="item">
                   <img class="projects" src="static/project_images/timer_interrupt_proteus.png" alt="Timer-png">
                   <h3 class="caption"  style="margin-left:100px">Timer Interrupt PROTEUS CIRCUIT </h3>
               </div>


           </div>




</body>
</html>