<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diplomas</title>
        <link rel="stylesheet" href="static/css/style.css">
<!--    <link rel="icon" href="favicon.ico?v=2">-->
<style>
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montez&family=Montserrat&family=Sacramento&display=swap');
</style>
</head>
<body>
         <div class="top-container" >
                     <h2>C</h2>
                   <a class="projects-btn" href="/altium">PCB DESIGN</a>
<!--             <a class="projects-btn" href="/arduino">ARDUINO</a>-->
<!--             <a class="projects-btn" href="/c">C</a>-->
             <a class="projects-btn" href="/mikroc">EMBEDDED C</a>
             <a class="projects-btn" href="/mikrofab">MIKRO FABRICATION</a>
             <a class="projects-btn" href="/python">PYTHON</a>
             <a class="projects-btn" href="/ml">MACHINE LEARNING</a>
             <a class="projects-btn" href="/ds">DATA SCIENCE</a>
             <a class="projects-btn" href="/spice">SPICE</a>

        </div>

           <div class="middle-container">
                                    <a class="btn" href="/">HOME</a><p></p>


                          <ol class="project-list">
                            <li><a href="" > </a></li>

                        </ol>


           </div>

</body>
</html>